.card{
	background-color: #ECDCB0 !important;
}

.card-img-top{
	width: 100% !important;
	height: 100% !important;
}
.card:hover .card-body{
	display:block !important;
}
.card:hover img{
	opacity: 0.5;
}

.card-body{
	display: none !important;
	position: absolute !important;
	left: 30px;
	bottom: 15px;
}